<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de Tarefas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="mt-5">
                Lista de Tarefas
                <form action="{% url 'tarefas:home' %}" method="post">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                      <input type="text" class="form-control" placeholder="Descreva sua tarefa." aria-label="Recipient's username" aria-describedby="button-addon2" name="nome">
                      <div class="input-group-append">
                        <button type="submit" class="btn btn-outline-primary"  id="button-addon2">Salvar</button>
                      </div>

                    </div>
                    <small class="form-text text-muted">{{ form.nome.errors }}</small>
                </form>
            </h1>
        </div>
    </div>
</div>

</body>
</html>